.card-container1
{
   
    margin-top: 10px;
    height: 700px;
    width:510px;
    border: 2px solid #313131;  
    border-radius: 20px;
    background: #088dda ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
@media only screen and (max-width: 600px) {
    /* .card-container1{
     margin-left: 300px;
    } */

}
.btn{
    background-color: rgb(255, 123, 0);
    color: #000;
    font-weight: bold;
    box-shadow: 2px;
}



    
